<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Assistant - Chat</title>

<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/datepicker3.css" rel="stylesheet">
<link href="/static/css/bootstrap-table.css" rel="stylesheet">
<link href="/static/css/styles.css" rel="stylesheet">

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<body>
	
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>Assistant</span>System</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <label id = "username" ></label> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/changeaccount/"><span class="glyphicon glyphicon-user"></span> 信息修改</a></li>
							
							<li><a href="/accounts/logout/"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
						</ul>
					</li>
				</ul>
			</div>
							
		</div><!-- /.container-fluid -->
	</nav>
		
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				
			</div>
		</form>
		<ul class="nav menu">
			<li><a href="/assistant_resource/"><span class="glyphicon glyphicon-list"></span> 课程资源</a></li>
			<li><a href="/assistant_pt/"><span class="glyphicon glyphicon-th"></span> 计划表</a></li>
			<li class="active"><a href="/assistant_chat_forhead/"><span class="glyphicon glyphicon-list-alt"></span> 讨论区</a></li>
			<li><a href="/assistant_hw/"><span class="glyphicon glyphicon-pencil"></span> 作业</a></li>
			<li role="presentation" class="divider"></li>
			<li><a href="/stu_resource/"><span class="glyphicon glyphicon-share-alt"></span> 返回学生区</a></li>
		</ul>
	</div><!--/.sidebar-->
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active">讨论区</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">讨论区</h1>
			</div>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-info" id = "big">
				</div>
			
				<div class="panel panel-success">
					<div class="panel-body">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<div class="col-xs-12">
									<textarea class="form-control" rows="5" placeholder="请输入回复内容" id="content"></textarea>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-10">
								<a href= "javascript:void(0)" onclick="gotopage()" type="submit" class="btn btn-primary">回复</a>
								<script type="text/javascript">
									function gotopage()
									{
										var url = decodeURI(window.location.href);
										var array = url.split("?").pop().split("&");
										var argsIndex1 = array[0].split("topic_id=");
										var argsIndex2 = array[1].split("replyto=");
										var topic_id = argsIndex1[1];
										var replyto = argsIndex2[1];//之后这里要能回复其他人
										var text=document.getElementById("content").value;//回复内容
										$.ajax({
											url : "/forum/reply/",
											dataType : "json",
											type : "POST",
											data : {"topic_id":topic_id,"replyto":replyto,"content":text},
											success : function(data) {												
												alert("上传成功");
												window.history.go(-1);
											},
										});
									}
									
								</script>	
								<a onClick="javascript:window.history.go(-1);" type="reset" class="btn btn-default">返回</a>
							
								</div>
							</div>
						</form>
					</div>
				</div>
		
			<!--发布帖子-->
		</div>
	</div><!--/.main-->

	<script src="/static/js/jquery-1.11.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/chart.min.js"></script>
	<script src="/static/js/chart-data.js"></script>
	<script src="/static/js/easypiechart.js"></script>
	<script src="/static/js/easypiechart-data.js"></script>
	<script src="/static/js/bootstrap-datepicker.js"></script>
	<script src="/static/js/bootstrap-table.js"></script>
	
	<!-- <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>
	<script>
		$(function(){
			var url = decodeURI(window.location.href);
			var array = url.split("?").pop().split("&");
			var argsIndex1 = array[0].split("topic_id=");
			var argsIndex2 = array[1].split("replyto=");
			var topic_id = argsIndex1[1];
			var replyto = argsIndex2[1];
		    $.ajax({
				async: false,
				type : "GET",//请求方式
				url : "/forum/getreplies/",//地址，就是json文件的请求路径
				dataType : "json",//数据类型可以为 text xml json  script  jsonp
				data:{"topic_id":topic_id},
　　　　　　　　success : function(data){
					$("#big").append("<div class='panel-heading' id = 'user' >"+data.title+"</div>");
					if(data.star){
						document.getElementById('user').innerHTML += "☆";
					};
					$("#big").append("<div class='panel-body clearfix' id ='box'>"+data.content+"</br><small class='text-muted'>"+data.author+"|"+formatUTC(data.cre_date)+"</small></div>");
					for(var i=0;i<data.reply_count;i++){
						$("#box").append("<div class='panel-body clearfix'>"+data.replies[i].content+"<br/><small class='text-muted'>"+data.replies[i].author_username+" replyto "+data.replies[i].replyto+"|"+formatUTC(data.replies[i].time)+"</small></div>");
					};
				},
			});
		});	
	</script>
 	<script>
		$(function(){
			$.ajax({
				type : "GET",//请求方式
				url : "/courses/getCourses/",//地址，就是json文件的请求路径
				dataType : "json",//数据类型可以为 text xml json  script  jsonp
　　　　　　　　success : function(data){//返回的参数就是 action里面所有的有get和set方法的参数
					document.getElementById('username').innerHTML = data.name;
				},
			});
		});	
		function formatUTC(utc_datetime) {
		// 转为正常的时间格式 年-月-日 时:分:秒
			utc_datetime = utc_datetime+"Z";
			var T_pos = utc_datetime.indexOf(' ');
			var Z_pos = utc_datetime.indexOf('Z');
			var year_month_day = utc_datetime.substr(0,T_pos);
			var hour_minute_second = utc_datetime.substr(T_pos+1,Z_pos-T_pos-1);
			var new_datetime = year_month_day+" "+hour_minute_second; // 2017-03-31 08:02:06

			// 处理成为时间戳
			timestamp = new Date(Date.parse(new_datetime));
			timestamp = timestamp.getTime();
			timestamp = timestamp/1000;

			// 增加8个小时，北京时间比utc时间多八个时区
			var timestamp = timestamp+8*60*60;

			// 时间戳转为时间
			var beijing_datetime = new Date(parseInt(timestamp) * 1000).toLocaleString().replace(/年|月/g, "-").replace(/日/g, " ");
			return beijing_datetime;
		} 
	</script>		 
</body>

</html>
