<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>EduAdmin - StuTable</title>
<script src="/static/js/echarts.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/datepicker3.css" rel="stylesheet">
<link href="/static/css/bootstrap-table.css" rel="stylesheet">
<link href="/static/css/styles.css" rel="stylesheet">

<!--[if lt IE 9]>
<script src="/static/js/html5shiv.js"></script>
<script src="/static/js/respond.min.js"></script>
<![endif]-->
<style type="text/css">
	body,table{
	    font-size:14px;
	}
	thead,tr{
	    border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(211, 202, 221);
	}
	table{
	    table-layout:fixed;
	    empty-cells:show; 
	    border-collapse: collapse;
	    margin:0 auto;
	    border-bottom-width: 1px;
	    border-bottom-style: solid;
	    border-bottom-color: rgb(211, 202, 221);
	}
	td,th{
	     padding: 5px 10px;
	    font-size: 14px;
	    font-family: Verdana;
	    color: rgb(95, 74, 121);
	}
	h2,h3{
	    font-size:14px;
	    margin:0;
	    padding:0;
	}
	tr:nth-child(even) {
	background: rgb(223, 216, 232)
	            }
	tr:nth-child(odd) {
	            background: #FFF
	            }
	.title { background: #FFF; border: 1px solid #9DB3C5; padding: 1px; width:90%;margin:20px auto; }
	        .title th, .title td { border: 1px solid #CAD9EA; padding: 5px; }
</style>
</head>

<body>
	
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>EduAdmin</span>System</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <label id = "username"></label> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/changeaccount/"><span class="glyphicon glyphicon-user"></span> 信息修改</a></li>
							
							<li><a href="/accounts/logout/"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
						</ul>
					</li>
				</ul>
			</div>
							
		</div><!-- /.container-fluid -->
	</nav>
		
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				
			</div>
		</form>
		<ul class="nav menu">
			<li><a href="/edu_admin_resource/"><span class="glyphicon glyphicon-th"></span> 关联课程</a></li>
			<li class="active"><a href="/edu_admin_table/"><span class="glyphicon glyphicon-th"></span> 学生花名表</a></li>
			
			<li><a href="/edu_admin_pt/"><span class="glyphicon glyphicon-th"></span> 计划表</a></li>
			
			<li role="presentation" class="divider"></li>
			<!-- <li><a href="/accounts/login/"><span class="glyphicon glyphicon-user"></span> 登录</a></li> -->
		</ul>
		<!-- <div class="attribution">Produce by <a href="http://www.medialoot.com/item/lumino-admin-bootstrap-template/">Bro</a></div> -->
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active">花名表</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">已加入学生花名表</h1>
			</div>
		</div><!--/.row-->

		<div class="panel-body easypiechart-panel">
			<a href="/edu_admin_table1_a/" id="add_page" type="button" class="btn btn-default">添加学生</a>
		</div>
		
		<div class="ibox-content col-md-12" style="padding-top: 0px; border: 0px; height: 100%; width: 100%">
		<table border="1" id="table">
		    <tr>
			<td width="162" bgcolor="#EFEFEF" Name="columnname" EditType="TextBox">学号</td>
			<td width="172" bgcolor="#EFEFEF" Name="length" EditType="TextBox">姓名</td>
		    </tr>

		</table>
      
	</div>	
	</div><!--/.main-->	

    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="/static/js/jquery-1.11.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/chart.min.js"></script>
	<script src="/static/js/chart-data.js"></script>
	<script src="/static/js/easypiechart.js"></script>
	<script src="/static/js/easypiechart-data.js"></script>
	<script src="/static/js/bootstrap-datepicker.js"></script>
	<script src="/static/js/bootstrap-table.js"></script>
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>
	
	<script>
	$(function () {
		var url = decodeURI(window.location.href);
		var courseid = url.split("?course=")[1];
        $.ajax({
            type: "GET",
            url: "/courses/getCourseUsers/",
			data:{'course_id':courseid},
            dataType: "json",
            success : function(data){
                var html="";
                $.each(data.students,function(i,trdata){
                    html+="<tr>" +
                        "<td class='sco1'>"+trdata['no']+"</td>" +
                        "<td class='sco2'>"+trdata['username']+"</td>" +
                        "</tr>";
                });
                $("#table").append(html);
            }	
        });
		var url1 = '/edu_admin_table1_a/?course='+courseid;
		url1 = encodeURI(url1);
		document.getElementById('add_page').href = url1;
    });
	</script>
	<script>
		$(function(){
			$.ajax({
				type : "GET",//请求方式
				url : "/courses/getCourses/",//地址，就是json文件的请求路径
				dataType : "json",//数据类型可以为 text xml json  script  jsonp
　　　　　　　　success : function(data){//返回的参数就是 action里面所有的有get和set方法的参数
					document.getElementById('username').innerHTML = data.name;
				},
				
			});
		});	
	</script>
</body>

</html>
