<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Login</title>
		<!--用百度的静态资源库的cdn安装bootstrap环境-->
		<!-- Bootstrap 核心 CSS 文件 -->
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<!--font-awesome 核心我CSS 文件-->
		<link href="/static/css/font-awesome.min.css" rel="stylesheet">
		<!-- 在bootstrap.min.js 之前引入 -->
		<script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
		<!-- Bootstrap 核心 JavaScript 文件 -->
		<script src="/static/js/bootstrap.min.js"></script>
		<!--jquery.validate-->
		<script type="text/javascript" src="/static/js/jquery.validate.min.js" ></script>
		<script type="text/javascript" src="/static/js/message.js" ></script>
		
		<!-- 以下内容按css解析 --><!-- 保证在不同大小的屏幕上都能全覆盖 --><!-- 设置为半透明的背景色 --><!-- 登录界面显示 --><!-- 注册界面隐藏 -->
		<style type="text/css">
			body{background: url(/static/imgs/1.jpg) no-repeat;background-size: cover;;font-size: 16px;positon:absolute}
			.form{background: rgba(255,255,255,0.2);width:400px;margin:100px auto;}
			#login_form{display: block;}
			.fa{display: inline-block;top: 27px;left: 6px;position: relative;color: #ccc;}
			input[type="text"],input[type="password"]{padding-left:26px;}
			.checkbox{padding-left:21px;}
		</style>
	</head>
	<body>
		<!--
			基础知识：
			网格系统:通过行和列布局
			行必须放在container内
			手机用col-xs-*
			平板用col-sm-*
			笔记本或普通台式电脑用col-md-*
			大型设备台式电脑用col-lg-*
			为了兼容多个设备，可以用多个col-*-*来控制；
		-->
	<div class="container">
		<div class="form row">
			<form class="form-horizontal col-sm-offset-3 col-md-offset-3" id="login_form">
				<h3 class="form-title">Login to your account</h3>
				<div class="col-sm-9 col-md-9">
					<div class="form-group">
						<i class="fa fa-user fa-lg"></i>
						<input class="form-control required" type="text" placeholder="Username" id="username" name="username" autofocus="autofocus" maxlength="20"/>
						<!-- autofocus 属性规定当页面加载时 input 元素应该自动获得焦点。
						如果使用该属性，则 input 元素会获得焦点。 -->
					</div>
					<div class="form-group">
						<i class="fa fa-lock fa-lg"></i>
						<input class="form-control required" type="password" placeholder="Password" id="password" name="password" />
					</div>
					<div class="form-group">
						<label class="checkbox">
							<input type="checkbox" name="remember" value="1"/> Remember me
						</label>
						<hr />
						<a href="/accounts/register/" id="register_btn" class="">Create an account</a>
					</div>
					<div class="form-group">
						<a href= "javascript:void(0)" onclick="gotopage()" class="btn btn-primary">Login</a>
						<script type="text/javascript">
							function gotopage()
							{
								var uid=document.getElementById("username").value;
								var pwd=document.getElementById("password").value;
								var Url1="";
								if(pwd.length<5){
									alert("输入的密码长度不能小于5个字符");
								}
								else{
									$.ajax({
										url : "/accounts/login/",
										dataType : "json",
										type : "POST",
										data : {"username":uid, "password":pwd},
										success : function(data) {
											// 登录界面向后端传输数据完成
											//data.result 后端返回
											if(data.permission != 0) {
												alert("登录成功");
												switch(data.permission)//用户角色
												{
													case 1:Url1="/stu_resource/";break;//学生=1
													case 2:Url1="/teacher_resource/";break;//老师=2
													case 3:Url1="/stu_resource/";break;//助教=3
													case 4:Url1='/edu_admin_resource/';break;
												}
												window.location.href = Url1;
											}
											else {//密码错误 用户名不存在
												alert(data.error);
											}
										},

									});
								}
							}
							
						</script>
					</div>
				</div>
			</form>
		</div>
		</div>
	<script type="text/javascript" >
		$().ready(function() {	
			$("#login_form").validate({
				rules: {
					username: "required",
					password: {
						required: true,
						minlength: 5
					},
				},
				messages: {
					username: "请输入用户名",
					password: {
						required: "请输入密码",
						minlength: jQuery.format("密码不能小于{0}个字符")
					},
				}
			});
		});
	</script>
	</body>
</html>
