<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Student - Homework</title>

<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/datepicker3.css" rel="stylesheet">
<link href="/static/css/styles.css" rel="stylesheet">



</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>Student</span>System</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <label id = "username" ></label> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/changeaccount/"><span class="glyphicon glyphicon-user"></span> 信息修改</a></li>
							
							<li><a href="/accounts/logout/"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
						</ul>
					</li>
				</ul>
			</div>
							
		</div><!-- /.container-fluid -->
	</nav>
		
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				
			</div>
		</form>
		<ul class="nav menu" id="menu">
			<li ><a href="/stu_resource/"><span class="glyphicon glyphicon-dashboard"></span> 课程资源</a></li>
			<li><a href="/stu_pt/"><span class="glyphicon glyphicon-th"></span> 计划表</a></li>
			<li ><a href="/stu_grade/"><span class="glyphicon glyphicon-stats"></span> 成绩</a></li>
			<li ><a href="/stu_chat_forhead/"><span class="glyphicon glyphicon-list-alt"></span> 讨论区</a></li>
			<li class="active"><a href="/stu_hw/"><span class="glyphicon glyphicon-pencil"></span> 作业</a></li>
			<li ><a href="/assistant_resource2/"><span class="glyphicon glyphicon-share-alt"></span> 申请成为助教</a></li>
		</ul>
	</div>
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active">作业</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">作业</h1>
			</div>
		</div><!--/.row-->
				
		
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">作业下载与提交</div>
					<div class="panel-body">
						<div class="col-md-6">
							<div id="down"><div  class="form-group">
								<label>下载作业</label>
								<a id='dl' download='' >点击下载</a>
							</div></div>
							<div>
								<label>作业正文：</label>
								<label id="hwcontent" ></label>
							</div>
							<label>截止时间：</label>
							<label id="ddl" ></label>
							<div id="wenjian">
								<form method="post" id="uploadform" action="" enctype="multipart/form-data">
									<input type="file" name="myfile" id="myfile"/>
									<textarea class="form-control" rows="7" placeholder="请输入正文" id="name"></textarea>
									</br><a href= "javascript:void(0)" onclick="submit()" type="submit" class="btn btn-primary">提交</a>
									<a href = "javascript:window.history.go(-1);" type="reset" class="btn btn-default">返回</a>
								</form>	
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->
		
	</div><!--/.main-->

	<script src="/static/js/jquery-1.11.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/chart.min.js"></script>
	<script src="/static/js/chart-data.js"></script>
	<script src="/static/js/easypiechart.js"></script>
	<script src="/static/js/easypiechart-data.js"></script>
	<script src="/static/js/bootstrap-datepicker.js"></script>
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>
	<script>
	$(function(){
		var url = decodeURI(window.location.href);
		var array = url.split("?").pop().split("&");
		var argsIndex1 = array[0].split("filepath=");
		var argsIndex4 = array[3].split("ispass=");
		var argsIndex5 = array[4].split("isfile=");
		var filepath= argsIndex1[1];
		var ispass=argsIndex4[1];
		var isfile=argsIndex5[1];
		document.getElementById('dl').href = filepath;
		console.log(ispass);
		if(ispass==1){
			$("#wenjian").empty();
		}
		if(isfile=="false"){
			$("#down").remove();
		}
	});	
	function submit() {
		var url = decodeURI(window.location.href);
		var array = url.split("?").pop().split("&");
		var argsIndex1 = array[0].split("filepath=");
		var argsIndex2 = array[1].split("homeworkname=");
		var argsIndex3 = array[2].split("course=");
		var courseid=argsIndex3[1];
		var homeworkname=argsIndex2[1];
		var upFile = $('#myfile').get(0).files[0];
		var formData = new FormData();
		formData.append('course',courseid);
		formData.append('homework_name', homeworkname);
		formData.append('content',$("#name").val());
		formData.append('filepath',upFile);
		console.log(formData);
		$.ajax({
			url:'/homework/submitHomework/',
			type: 'POST',
			processData:false,
			contentType:false,
			data:formData,
			success:function (data) {
				alert("success");
				window.history.go(-1);
			}
		});
	}
	</script>
	<script>
		$(function(){
			$.ajax({
				type : "GET",//请求方式
				url : "/accounts/getUserInfos/",//地址，就是json文件的请求路径
				dataType : "json",//数据类型可以为 text xml json  script  jsonp
　　　　　　　　success : function(data){//返回的参数就是 action里面所有的有get和set方法的参数
					if(data.permission == 3){//表示是助教 显示助教工作区 	
						$("#menu").append("<li><a href='/assistant_resource/'><span class='glyphicon glyphicon-plane'></span> 助教工作区</a> </li>");
					}
					document.getElementById('username').innerHTML = data.username;
				},
			});
		});	
	</script>
	<script>
		$(function(){
			var url = decodeURI(window.location.href);
			var array = url.split("?").pop().split("&");
			var argsIndex1 = array[0].split("filepath=");
			var argsIndex2 = array[1].split("homeworkname=");
			var argsIndex3 = array[2].split("course=");
			var courseid=argsIndex3[1];
			var homeworkname=argsIndex2[1];
			$.ajax({
				type : "POST",//请求方式
				url : "/homework/getoneHomework/",//地址，就是json文件的请求路径
				dataType : "json",
				data:{"course":courseid,"homework_name":homeworkname},
　　　　　　　　success : function(data){
					console.log(data);
					document.getElementById('hwcontent').innerHTML = data.content;
					document.getElementById('ddl').innerHTML = formatUTC(data.deadline);
				},
			});
		});
		function formatUTC(utc_datetime) {
		// 转为正常的时间格式 年-月-日 时:分:秒
		    utc_datetime = utc_datetime+"Z";
			var T_pos = utc_datetime.indexOf(' ');
			var Z_pos = utc_datetime.indexOf('Z');
			var year_month_day = utc_datetime.substr(0,T_pos);
			var hour_minute_second = utc_datetime.substr(T_pos+1,Z_pos-T_pos-1);
			var new_datetime = year_month_day+" "+hour_minute_second; // 2017-03-31 08:02:06

			// 处理成为时间戳
			timestamp = new Date(Date.parse(new_datetime));
			timestamp = timestamp.getTime();
			timestamp = timestamp/1000;

			// 增加8个小时，北京时间比utc时间多八个时区
			var timestamp = timestamp+8*60*60;

			// 时间戳转为时间
			var beijing_datetime = new Date(parseInt(timestamp) * 1000).toLocaleString().replace(/年|月/g, "-").replace(/日/g, " ");
			return beijing_datetime;
		}	
	</script>
</body>

</html>
