<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Teacher - Homework</title>

<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/datepicker3.css" rel="stylesheet">
<link href="/static/css/styles.css" rel="stylesheet">
<style type="text/css">
.label1{
line-height: 20px;
height:40px;
width:300px;
text-align:center;
}
</style>

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>Teacher</span>System</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <label id = "username"></label> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/changeaccount/"><span class="glyphicon glyphicon-user"></span> 信息修改</a></li>
							
							<li><a href="/accounts/logout/"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
		
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				
			</div>
		</form>
		<ul class="nav menu">
			<li class="parent ">
				<a href="/teacher_resource/">
					<span class="glyphicon glyphicon-dashboard"></span> 课程<span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span> 
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li>
						<a class="glyphicon glyphicon-dashboard" href="/teacher_resource_a/">
						发布课程
						</a>
					</li>
					<li>
						<a class="glyphicon glyphicon-dashboard" href="/teacher_resource_b/">
						课程资源
						</a>
					</li>
				</ul>
			</li>
			<li ><a href="/teacher_stumanage/"><span class="glyphicon glyphicon-th"></span> 学生管理</a></li>
			<li ><a href="/teacher_grade/"><span class="glyphicon glyphicon-stats"></span> 成绩</a></li>
			<li ><a href="/teacher_chat_forhead/"><span class="glyphicon glyphicon-list-alt"></span> 讨论区</a></li>
			<li class="active"><a href="/teacher_hw/"><span class="glyphicon glyphicon-pencil"></span> 作业</a></li>
			<li role="presentation" class="divider"></li>
		</ul>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active">作业</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">作业</h1>
				<!--右边最上面那个Class-->
			</div>
		</div><!--/.row-->
        
        <div class="copyrights"><a href="http://www.cssmoban.com/" ></a></div>
	<div id = "box" class="row"></div>	<!--/.main-->

	<script src="/static/js/jquery-1.11.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/chart.min.js"></script>
	<script src="/static/js/chart-data.js"></script>
	<script src="/static/js/easypiechart.js"></script>
	<script src="/static/js/easypiechart-data.js"></script>
	<script src="/static/js/bootstrap-datepicker.js"></script>
	<script>
		$('#calendar').datepicker({
		});

		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){          
		        $(this).find('em:first').toggleClass("glyphicon-minus");      
		    }); 
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
	<script>
		$(function(){
			$.ajax({
				type : "GET",//请求方式
				url : "/courses/getCourses/",//地址，就是json文件的请求路径
				dataType : "json",//数据类型可以为 text xml json  script  jsonp
　　　　　　　　success : function(data){//返回的参数就是 action里面所有的有get和set方法的参数
					for(var i=0;i<data.num;i++){
						if(data.courses[i].is_valid){
							var iid = 'course'+i;
							$("#box").append("<div class='col-xs-6 col-md-3'><div class='panel panel-default'><div class='panel-body easypiechart-panel'><h4><label id = 'course' class='label1 col-sm-9'></label></h4><a href='javascript:void(0)'  onclick = 'test("+JSON.stringify(data)+","+i+")' class='btn btn-default'><div class='easypiechart' id='easypiechart-blue'  ><span class='percent'>choose</span></div></a></div></div></div>");
						document.getElementById('course').id = iid;
						document.getElementById('course'+i).innerHTML = data.courses[i].course_name;
						}
					}
					document.getElementById('username').innerHTML = data.name;
				},
			});
		});	
		function test(data,i){
			var course = data.courses[i].course_id; //传给弹出页面参数
			var url = '/teacher_hw_1/?course='+course;
			url = encodeURI(url);
			window.location.href=url;	
		};
	</script>
</body>

</html>
