<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Teacher - Upload</title>

<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/datepicker3.css" rel="stylesheet">
<link href="/static/css/styles.css" rel="stylesheet">

<!--[if lt IE 9]>
<script src="/static/js/html5shiv.js"></script>
<script src="/static/js/respond.min.js"></script>
<![endif]-->

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>Teacher</span>System</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <label id = "username"></label> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/changeaccount/"><span class="glyphicon glyphicon-user"></span> 信息修改</a></li>
							
							<li><a href="/accounts/logout/"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
						</ul>
					</li>
				</ul>
			</div>
							
		</div><!-- /.container-fluid -->
	</nav>
		
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				
			</div>
		</form>
		<ul class="nav menu">
			<li class="parent ">
				<a href="/teacher_resource/">
					<span class="glyphicon glyphicon-dashboard"></span> 课程<span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span> 
				</a>
				<ul class="children collapse in" id="sub-item-1">
					<li>
						<a class="glyphicon glyphicon-dashboard" href="/teacher_resource_a/">
						发布课程
						</a>
					</li>
					<li>
						<a class="glyphicon glyphicon-dashboard" href="/teacher_resource_b/">
						课程资源
						</a>
					</li>
				</ul>
			</li>
			</li>
			<li ><a href="/teacher_stumanage/"><span class="glyphicon glyphicon-th"></span> 学生管理</a></li>
			<li ><a href="/teacher_grade/"><span class="glyphicon glyphicon-th"></span> 成绩</a></li>
			<li ><a href="/teacher_chat_forhead/"><span class="glyphicon glyphicon-list-alt"></span> 讨论区</a></li>
			<li ><a href="/teacher_hw/"><span class="glyphicon glyphicon-pencil"></span> 作业</a></li>
			<li role="presentation" class="divider"></li>
		</ul>
	</div>
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active">课程</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">发布课程</h1>
			</div>
		</div><!--/.row-->
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">发布课程</div>
					<div class="panel-body">
						<div class="col-md-6">
							<form role="form">
								<div class="form-group">
									<label>课程名</label>
									<textarea class="form-control" id="classname" rows="5"></textarea>
								</div>
					
								<div class="form-group">
									<label>课程详情</label>
									<textarea class="form-control" id="classinform" rows="30"></textarea>
								</div>
								
								<div class="form-group">
									<label>课程时间</label>
									<textarea class="form-control" id="classtime" rows="5"></textarea>
								</div>
								
								<div class="form-group">
									<label>上课地点</label>
									<textarea class="form-control" id="classloc" rows="5"></textarea>
								</div>
								
								<div class="form-group">
									<label>教师姓名</label>
									<textarea class="form-control" id="teachername" rows="5"></textarea>
								</div>
								
								<a href= "javascript:void(0)" onclick="gotopage()" type="submit" class="btn btn-primary">提交</a>
								<script type="text/javascript">
									function gotopage()
									{
										var cname=document.getElementById("classname").value;//课程名
										var content=document.getElementById("classinform").value;//课程详情
										var ctime=document.getElementById("classtime").value;
										var cloc=document.getElementById("classloc").value;
										var tname=document.getElementById("teachername").value;
										
										$.ajax({
											url : "/courses/addCourse/",
											dataType : "json",
											type : "POST",
											data : {"name":cname, "details":content,"course_time":ctime,"course_loc":cloc,"teacher_name":tname},
											success : function(data) {
											    if(data.success){
                                                    //alert("上传成功");
													alert(data.success);
                                                    window.location.href = "/teacher_resource/";
                                                }
											},
										});
									}
									
								</script>
								<a href = "/teacher_resource/" type="reset" class="btn btn-default">返回</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		
		
	</div>
	<script src="/static/js/jquery-1.11.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/chart.min.js"></script>
	<script src="/static/js/chart-data.js"></script>
	<script src="/static/js/easypiechart.js"></script>
	<script src="/static/js/easypiechart-data.js"></script>
	<script src="/static/js/bootstrap-datepicker.js"></script>
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>
	<script>
		$(function(){
			$.ajax({
				type : "GET",//请求方式
				url : "/courses/getCourses/",//地址，就是json文件的请求路径
				dataType : "json",//数据类型可以为 text xml json  script  jsonp
　　　　　　　　success : function(data){//返回的参数就是 action里面所有的有get和set方法的参数
					document.getElementById('username').innerHTML = data.name;
				},
				
			});
		});	
	</script>		
</body>

</html>
