<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Teacher - Grade</title>
<script src="/static/js/echarts.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/datepicker3.css" rel="stylesheet">
<link href="/static/css/styles.css" rel="stylesheet">

<!--[if lt IE 9]>
<script src="/static/js/html5shiv.js"></script>
<script src="/static/js/respond.min.js"></script>
<![endif]-->
<style type="text/css">
	body,table{
	    font-size:14px;
	}
	thead,tr{
	    border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(211, 202, 221);
	}
	table{
	    table-layout:fixed;
	    empty-cells:show; 
	    border-collapse: collapse;
	    margin:0 auto;
	    border-bottom-width: 1px;
	    border-bottom-style: solid;
	    border-bottom-color: rgb(211, 202, 221);
	}
	td,th{
	     padding: 5px 10px;
	    font-size: 14px;
	    font-family: Verdana;
	    color: rgb(95, 74, 121);
	}
	h1,h2,h3{
	    font-size:14px;
	    margin:0;
	    padding:0;
	}
	tr:nth-child(even) {
	background: rgb(223, 216, 232)
	            }
	tr:nth-child(odd) {
	            background: #FFF
	            }
	.title { background: #FFF; border: 1px solid #9DB3C5; padding: 1px; width:90%;margin:20px auto; }
	    .title h1 { line-height: 31px; text-align:center;  background: #2F589C url(th_bg2.gif); background-repeat: repeat-x; background-position: 0 0; color: #FFF; }
	        .title th, .title td { border: 1px solid #CAD9EA; padding: 5px; }
</style>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>Teacher</span>System</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <label id = "username"></label> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/changeaccount/"><span class="glyphicon glyphicon-user"></span> 信息修改</a></li>
							
							<li><a href="/accounts/logout/"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
						</ul>
					</li>
				</ul>
			</div>
							
		</div><!-- /.container-fluid -->
	</nav>
		
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				
			</div>
		</form>
		<ul class="nav menu">
			<li class="parent ">
				<a href="/teacher_resource/">
					<span class="glyphicon glyphicon-dashboard"></span> 课程<span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span> 
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li>
						<a class="glyphicon glyphicon-dashboard" href="/teacher_resource_a/">
						发布课程
						</a>
					</li>
					<li>
						<a class="glyphicon glyphicon-dashboard" href="/teacher_resource_b/">
						课程资源
						</a>
					</li>
				</ul>
			</li>
			<li ><a href="/teacher_stumanage/"><span class="glyphicon glyphicon-th"></span> 学生管理</a></li>
			<li class="active"><a href="/teacher_grade/"><span class="glyphicon glyphicon-stats"></span> 成绩</a></li>
			<li ><a href="/teacher_chat_forhead/"><span class="glyphicon glyphicon-list-alt"></span> 讨论区</a></li>
			<li ><a href="/teacher_hw/"><span class="glyphicon glyphicon-pencil"></span> 作业</a></li>
			<li role="presentation" class="divider"></li>
			<!-- <li><a href="/accounts/login/"><span class="glyphicon glyphicon-user"></span> 登录</a></li> -->
		</ul>
		<!-- <div class="attribution">Produce by <a href="http://www.medialoot.com/item/lumino-admin-bootstrap-template/">Bro</a></div> -->
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active">成绩</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">成绩</h1>
				
			</div>
		</div><!--/.row-->
		
		<table width="90%" id="table" class="t1">
		  <thead>
		    <th width="20%">课程名</th>
			<th width="20%">学生姓名</th>
			<th width="30%">作业次数</th>
		    <th width="20%">成绩</th>
		  </thead>
		</table>

		<p id="TwoLineChart" style="width:100%; height:400px;"></p>
		</div><!--/.row-->
											
	</div>	<!--/.main-->
	  

	<script src="/static/js/jquery-1.11.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/chart.min.js"></script>
	<script src="/static/js/chart-data.js"></script>
	<script src="/static/js/easypiechart.js"></script>
	<script src="/static/js/easypiechart-data.js"></script>
	<script src="/static/js/bootstrap-datepicker.js"></script>
	<script>
		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){          
		        $(this).find('em:first').toggleClass("glyphicon-minus");      
		    }); 
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>

	<script>
		//显示学生的成绩，这里应传送姓名，第几次作业，成绩
    $(function () {
        $.ajax({
            type: "GET",
            url: "/homework/getteacherGrade/",
            dataType: "json",
            success:function(data){
				console.log(data);
                var html="";
                $.each(data,function (i,trdata){
                    html+="<tr>" +
                            "<td class='sco1'>"+trdata.course_name+"</td>" +
                            "<td class='sco2'>"+trdata.stu_name+"</td>" +
							"<td class='sco3'>"+trdata.course_num+"</td>" +
                            "<td class='sco4'>"+trdata.grade+"</td>" +
                            "</tr>";
                });
                $("#table").append(html);
            }
        });
    })
	</script>

	<script>
		$(function(){
			$.ajax({
				type : "GET",//请求方式
				url : "/courses/getCourses/",//地址，就是json文件的请求路径
				dataType : "json",//数据类型可以为 text xml json  script  jsonp
　　　　　　　　success : function(data){//返回的参数就是 action里面所有的有get和set方法的参数
					document.getElementById('username').innerHTML = data.name;
				},
			});
		});	
	</script>

	<script type="text/JavaScript">
		//显示成绩，这里传送的应为某一次作业的最高成绩和平均成绩，横轴应该为第几次作业
	function loadTwoLine() {
    var myChart = echarts.init(document.getElementById('TwoLineChart'));
    // 显示标题，图例和空的坐标轴
    myChart.setOption({
        title: {
            text: '成绩分布图'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['平均成绩', '最高成绩']
        },
        toolbox: {
            show: true,
            feature: {
                mark: { show: true },
                dataView: { show: true, readOnly: false },
                magicType: { show: true, type: ['line', 'bar'] },
                restore: { show: true },
                saveAsImage: { show: true }
            }
        },
        calculable: true,
        xAxis: {
            type: 'category',
            boundaryGap: false, //取消左侧的间距
            data: []
        },
        yAxis: {
            type: 'value',
            splitLine: { show: false },//去除网格线
            name: ''
        },
        series: [{
            name: '平均分',
            type: 'line',
            symbol: 'emptydiamond',    //设置折线图中表示每个坐标点的符号 emptycircle：空心圆；emptyrect：空心矩形；circle：实心圆；emptydiamond：菱形
            data: []
        },
        {
            name: '最高分',
            type: 'line',
            symbol: 'emptydiamond',    //设置折线图中表示每个坐标点的符号 emptycircle：空心圆；emptyrect：空心矩形；circle：实心圆；emptydiamond：菱形
            data: []
        }]
    });
    myChart.showLoading();    //数据加载完之前先显示一段简单的loading动画
    var names = [];    //类别数组（实际用来盛放X轴坐标值）    
    var series1 = [];
    var series2 = [];
    $.ajax({
        type: 'GET',
        url: '/homework/teacherGrade/',//请求数据的地址
        dataType: "json",        //返回数据形式为json
        success: function (result) {
			console.log(result);
            //请求成功时执行该函数内容，result即为服务器返回的json对象           
            $.each(result.average, function (index, item) {
                names.push(item.course_name);    //挨个取出类别并填入类别数组
                series1.push(item.grade);
            });
            $.each(result.best, function (index, item) {
                series2.push(item.grade);
            });
            myChart.hideLoading();    //隐藏加载动画
            myChart.setOption({        //加载数据图表
                xAxis: {
                    data: names
                },
                series: [{                    
                    data: series1
                },
                {
                    data: series2
                }]
            });
        },
        error: function (errorMsg) {
            //请求失败时执行该函数
            //alert("图表请求数据失败!");
            myChart.hideLoading();
        }
    });
};
loadTwoLine();
</script>
</body>

</html>
